
body{
    margin: 0;
    font-family: Mulish;
}
/* shared styles */
.orange{
    color: #FF5400;
}

header{
margin: 50px 135px;
display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
}

h1{
    
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }

    
footer{
    background: rgba(19, 19, 24, 0.05);
    height: 502px;
}